.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
  padding: 18px 54px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: 12px;
}

.navbar h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.navbar-routes {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: 54px;
}
